<div class="container" style="font-family: 'Montserrat';">
  <div class="row">
    <div class="col-md-12 mt-5 text-center">
      <h4 class="fw-light display-6" style="color: #a7c957;">COMUNICATE CON NOSOTROS</h4>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card border-0 rounded-top-5 rounded-bottom-0 pt-3" style="background-color: #a7c957;">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="col-md-12 text-center">
                <i class="bi bi-telephone-fill  bg-white p-3 rounded-circle fs-4" style="background-color: #a7c957; color: #a7c957;"></i>
                <p class="text-white fs-4 fw-light ms-2 mt-3">+54 0353-4145001</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-12 text-center">
                <i class="bi bi-geo-alt-fill  bg-white p-3 rounded-circle fs-4" style="background-color: #a7c957; color: #a7c957;"></i>
                <p class="text-white fs-4 fw-light ms-2 mt-3">Italia 136, Hernando, Córdoba.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-12 text-center">
                <i class="bi bi-envelope-fill  bg-white p-3 rounded-circle fs-4" style="background-color: #a7c957; color: #a7c957;"></i>
                <p class="text-white fs-4 fw-light ms-2 mt-3">ciriuf@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-5">
      <div class="card border-0 rounded-top-0">
        <div class="card-body rounded-bottom-2" style="background-color: #f8f6f5;">
          <div class="row">
            <div class="col-md-6">
              <div class="row text-center mb-3">
                <div class="col-md-12 text-center">
                  <p class="text-body-tertiary fs-3 fw-semibold">Mapa del local</p>
                  <a href="https://www.google.com/maps/place/Ciri%C3%BA/@-32.4281279,-63.733956,16.33z/data=!4m6!3m5!1s0x95cdaf24d884876b:0x4566ec8d15804f2e!8m2!3d-32.4284556!4d-63.7331456!16s%2Fg%2F11c6dj71ml?authuser=0&entry=ttu" 
                  target="_blank">
                    <img src="assets/mapa.png" class="img-fluid rounded-5" alt="mapa" style="max-width: 250px; max-height:min-content;">
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row align-items-center">
                <div class="col-md-12 align-self-center">
                  <p class="text-body-tertiary fs-3 fw-semibold mb-1">Redes sociales</p>
                </div>
                <div class="col-md-12 mb-2 align-self-center">
                  <a href="https://www.facebook.com/share/XagSXoh8iM4tTS5n/?mibextid=LQQJ4d" target="_blank"><i class="bi bi-facebook text-body-tertiary fs-4 pe-3"></i></a>
                  <a href="https://www.instagram.com/ciriuregalos?igsh=N2xuOHhsbXd0bHFh" target="_blank"><i class="bi bi-instagram text-body-tertiary fs-4 pe-3"></i></a>
                  <a href=""><i class="bi bi-whatsapp text-body-tertiary fs-4"></i></a>
                </div>
                <div class="col-md-12 align-self-center">
                  <p class="text-body-tertiary fs-3 fw-semibold">Horarios de atención</p>
                </div>
                <div class="col-md-12 align-self-center">
                  <p class="text-body-tertiary fs-5 fw-light">Lunes a Viernes: 
                    <span>08:00 a 12:00 y de 16:00 a 20:00.</span>
                  </p>
                </div>
                <div class="col-md-12 align-self-center">
                  <p class="text-body-tertiary fs-5 fw-light">Sabados: 
                    <span>08:00 a 12:00.</span>
                  </p>
                </div>
                <div class="col-md-12 align-items-center">
                  <p class="text-body-tertiary fw-normal fs-5">No dudes en consultar, estamos a tu disposición !!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center align-items-center p-5 mb-5">
      <div class="col">
        <div class="card border-0 pintar">
          <div class="card-body text-center user-select-none pt-0">
            <i class="bi bi-truck fs-1" style="color: #86bb3c;"></i>
            <h6 class="fs-6 fw-semibold card-title" style="color: #86bb3c;">HACEMOS ENVÍOS A TODO EL PAÍS</h6>
            <p class="card-text" style="color: #86bb3c;">Elegí el transporte de tu preferencia.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 pintar">
          <div class="card-body text-center user-select-none pt-0">
            <i class="bi bi-credit-card fs-1" style="color: #86bb3c;"></i>
            <h6 class="card-title fw-semibold fs-6" style="color: #86bb3c;">ACEPTAMOS TODAS LAS TARJETAS</h6>
            <p class="card-text" style="color: #86bb3c;">Increíbles descuentos y cuotas sin interés.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 pintar">
          <div class="card-body text-center user-select-none pt-0">
            <i class="bi bi-whatsapp fs-1" style="color: #86bb3c;"></i>
            <h6 class="card-title fw-semibold fs-6" style="color: #86bb3c;">CONTACTANOS POR WHATSAPP</h6>
            <p class="card-text" style="color: #86bb3c;">Comunicate con nosotros, haciendo click acá.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>