
<div *ngIf="categoryToy" class="container-fluid" style="font-family: 'Montserrat';">
  <div class="row p-0 mb-5 mt-4" style="background-color: #f8f6f5;">
    <div class="col-md-8">
      <p class="text-success text-start display-6">Categorías de juguetes</p>
    </div>
    <div class="col-md-4 mb-2 align-self-end text-end">
      <button class="btn btn-success rounded-5 me-2" (click)="prevSlide()" type="button"><i
          class="bi bi-caret-left-fill"></i></button>
      <button class="btn btn-success rounded-5" type="button" (click)="nextSlide()"><i
          class="bi bi-caret-right-fill"></i></button>
    </div>
    <div class="col-12">
      <div class="carousel d-flex flex-nowrap overflow-hidden"
            (touchstart)="onTouchStart($event)"
           (touchmove)="onTouchMove($event)"
           (touchend)="onTouchEnd()">
        <div class="d-flex w-100">
          <div class="carousel-track d-flex flex-row" [style.transform]="transform">
            <div class="card border-0 bg-transparent m-1 user-select-none" style="width: 15rem;" *ngFor="let card of cards; let i = index">
              <div class="card-body zoom">
                <a [routerLink]="['/products']" [queryParams]="{ category: card.title }">
                  <img src="{{card.image}}" class="card-img-top" alt="...">
                </a>
              </div>
              <div class="card-footer text-center border-0 bg-transparent">
                <h5 class="fw-semibold text-muted">{{card.title}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-0" style="font-family: 'Montserrat'; color: #515151;">
  <div class="row">
    <div class="col-md-12 col-sm-12 mb-3">
      <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
        <ol class="breadcrumb m-1 pt-2">
          <li class="breadcrumb-item"><a class="text-center text-body-tertiary text-decoration-none" routerLink="/home">Inicio</a></li>
          <ng-container *ngIf="category; else showProducts">
            <li class="breadcrumb-item active" aria-current="page">{{category | titlecase}}</li>
          </ng-container>
          <ng-template #showProducts>
            <li class="breadcrumb-item active" aria-current="page">Productos</li>
          </ng-template>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="display-6" style="color: #a7c957;">
        <ng-container *ngIf="category; else showProductos">
          {{category | titlecase}}
        </ng-container>
        <ng-template #showProductos>
          Productos
        </ng-template>
      </p>
    </div>
  </div>
  <div class="row align-items-center mb-1">
    <div class="col-md-6 col-sm-12">
      <div class="input-group mb-3 rounded-5 bg-secondary-subtle">
        <button class="btn btn-lg btn-link-light text-white border-0" style="cursor:default;"><i class="bi bi-search"></i></button>
        <input type="text" id="searchProducts" class="form-control rounded-end-5" style="box-shadow: none;" placeholder="Buscar productos, marcas y más..."
          aria-describedby="button-addon2" (change)="searchProducts($event)">
      </div>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12 d-flex align-self-center justify-content-center pb-3">
      <div *ngIf="viewClearFilter" class="me-3">
        <button class="btn text-danger btn-lg btn-outline-light rounded-5 border-0" type="button" (click)="clearFilters()"><i class="bi bi-x-lg"> Borrar filtros</i></button>
      </div>
      <div>
        <button class="btn btn-lg btn-outline-light rounded-5 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#filtros"
          aria-controls="staticBackdrop" style="color: #a7c957;">
          <i class="bi bi-sliders"></i> Filtrar
        </button>
        <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="filtros" aria-labelledby="staticBackdropLabel">
          <div class="offcanvas-header">
            <p class="display-6" style="color: #a7c957;" id="staticBackdropLabel">Filtrar</p>
            <button type="button" class="btn-close" style="box-shadow: none;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div>
              <h5 class="fw-light fs-4 text-center mb-3" style="color: #a7c957;"><i class="bi bi-filter-left"></i> Categorías</h5>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item border-0" *ngFor="let category of categories">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" style="box-shadow: none; background-color: transparent;" type="button"
                      data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + category.id" aria-expanded="false"
                      [attr.aria-controls]="'collapse' + category.id">
                      {{ category.category | titlecase }}
                    </button>
                  </h2>
                  <div [id]="'collapse' + category.id" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading' + category.id" data-bs-parent="#accordionFlushExample">
                    <div class="list-group">
                      <a class="list-group-item list-group-item-action border-0 ps-5" [routerLink]="['/products']"
                        [queryParams]="{ category: category.category }"
                        (click)="filterByCategory(category.category)">Todo
                        en
                        {{ category.category }}</a>
                      <a *ngFor="let subCategory of getSubCategoriesByCategory(category.category)"
                        class="list-group-item list-group-item-action border-0 ps-5" [routerLink]="['/products']"
                        [queryParams]="{ category: subCategory.subcategory}"
                        (click)="filterByCategory(subCategory.subcategory)">{{ subCategory.subcategory | titlecase
                        }}</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-5 mt-5 ps-4 pe-4">
                <h5 class="fw-light fs-4 text-center mb-3" style="color: #a7c957;"><i class="bi bi-funnel"></i> Marcas</h5>
                <div class="list-group text-center list-group-flush" *ngFor="let brand of brands">
                  <a class="list-group-item list-group-item-action"[routerLink]="['/products']"
                    [queryParams]="{category: brand.brand}" (click)="filterByBrand(brand.brand)"> {{brand.brand |
                    titlecase}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ms-3">
        <button class="btn btn-lg btn-outline-light rounded-5 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#ordenar"
          aria-controls="staticBackdrop" style="color: #a7c957;">
          <i class="bi bi-arrow-down-up"></i> Ordenar
        </button>
        <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="ordenar" aria-labelledby="staticBackdropLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title fs-2 fw-light" style="color: #a7c957;" id="staticBackdropLabel">Ordenar por</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="col-md-12 pe-5 col-sm-4 align-self-center">
              <div class="col-md-12 pe-5 col-sm-4 fs-5">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" style="box-shadow: none;" name="orderBy" id="orderByDefault" value="default"
                    (change)="orderProducts($event)" checked>
                  <label class="form-check-label" for="orderByDefault">Por defecto</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" style="box-shadow: none;" name="orderBy" id="orderByAsc" value="asc"
                    (change)="orderProducts($event)">
                  <label class="form-check-label" for="orderByAsc">Precio: Menor a Mayor</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" style="box-shadow: none;" name="orderBy" id="orderByDesc" value="desc"
                    (change)="orderProducts($event)">
                  <label class="form-check-label" for="orderByDesc">Precio: Mayor a menor</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <!--Productos-->
    <div class="col-md-12">
      <div class="row row-cols-1 row-cols-md-3 align-items-center">
        <ng-container *ngIf="toys.length > 0; else noResults">
          <div class="col-12 col-sm-12 col-md-6 col-xs-12 col-lg-4 col-xl-3 g-4 d-flex justify-content-center" *ngFor="let toy of toys">
            <div class="card border-0 shadow" style="width: 18rem;">
              <a routerLink="{{toy.code}}">
                <img src={{toy.image[0]}} class="rounded-top-1" style="width: 100%; height: 250px;" alt="imagen" (mouseenter)="changeToNextImage(toy)"
                  (mouseleave)="changeResetImage(toy)">
              </a>
              <div class="card-body text-center text-muted p-1 pt-2">
                <h5 class="fw-light user-select-none" style="text-transform: capitalize;">{{toy.name}}</h5>
              </div>
              <div class="card-footer border-0 bg-transparent rounded-0 p-3 pt-2">
                <div class="row">
                  <div class="col-md-6 m-auto">
                    <p class="card-text fw-bold text-muted user-select-none">{{'$ ' + (toy.price | number:'1.2-2')}}</p>
                  </div>
                  <div class="col-md-6 text-end">
                    <ng-container *ngIf="toy.stock > 0; else noStockButton">
                      <button id="particleButton" class="btn btn-primary boton fw-normal btn-sm rounded-5" (click)="addToCart(toy)"><i
                          class="bi bi-bag"></i> Agregar</button>
                    </ng-container>
                    <ng-template #noStockButton>
                      <button class="btn btn-warning text-dark fw-normal btn-sm rounded-5" disabled><i
                          class="bi bi-bag-x"></i> Sin Stock</button>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noResults>
          <div class="col-12 col-sm-12 col-md-6 col-xs-12 col-lg-4 col-xl-3 g-4 d-flex justify-content-center" *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8]">
            <div class="card border-0 shadow" style="width: 18rem;">
              <div class="placeholder-glow">
                <img src="https://www.envelopments.com/uploads/papers/328/front_image/soft-gray_22in-sq-150dpi_gmund_v2.jpg" class="rounded-top-1 placeholder" style="width: 100%; height: 250px;" alt="imagen">
              </div>
              <div class="card-body text-center text-muted p-1 pt-2 placeholder-glow">
                <h5 class="fw-light user-select-none">
                  <span class="placeholder col-6"></span>
                </h5>
                <p class="card-text fw-bold text-muted user-select-none">
                  <span class="placeholder col-4"></span>
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent rounded-0 p-3 pt-2 text-end placeholder-glow">
                <span class="btn btn-dark disabled placeholder col-6"></span>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center mt-5 mb-5 align-self-center" style="min-height: 40vh;">
            <p class="fs-3 text-muted">Ups, no hay resultados para esta búsqueda.</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!--Navegacion-->
  <div class="row mt-5 mb-5" *ngIf="totalElements > 12">
    <div class="col-md-12 mb-3">
      <h6 class="text-center"> ¿Queres seguir viendo más productos?</h6>
    </div>
    <div class="col-md-12">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 0">
            <a class="page-link border-0 text-dark" style="box-shadow: none;" [routerLink]="['/products']" [queryParams]="{ page: currentPage - 1}"
              (click)="prevPage()"><i class="bi bi-chevron-left"> </i></a>
          </li>
          <li class="page-item">
            <select class="form-select border-0 ms-1 focus-ring focus-ring-light" style="box-shadow: none;" [(ngModel)]="currentPage" (change)="onPageChange($event)">
              <option *ngFor="let pageNumber of getPageNumbers()" [ngValue]="pageNumber">{{ pageNumber + 1 }}</option>
            </select>
          </li>
          <li class="page-item">
            <a class="page-link border-0 text-dark" style="box-shadow: none;" [routerLink]="['/products']" [queryParams]="{ page: currentPage + 1 }"
              (click)="nextPage()"> <i class="bi bi-chevron-right"> </i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>