.boton {
    background-color:  #a7c957;
    opacity: 0.9;
    color: white;
    border: 25px;
    transition: transform 0.3s ease;
    border-radius: 20px;
}
.boton:active {
    transform: scale(0.8);
}

.boton:hover {
    background-color: #a7c957;
    opacity: 1;
}


body{
    font-family: 'Montserrat', sans-serif;
}

.card {
    width: 100%;
    transition: box-shadow 0.3s ease-in-out;
}
  
.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Incrementar la sombra al pasar el mouse */
}

.card-img-top {
    width: 100%;
    height: auto;
}


  


