.boton {
    background-color:  #a7c957;
    opacity: 0.9;
    color: white;
    border: 25px;
    transition: transform 0.3s ease;
    border-radius: 20px;
}
.boton:active {
    transform: scale(0.8);
}

.boton:hover {
    background-color: #a7c957;
    opacity: 1;
}


body{
    font-family: 'Montserrat', sans-serif;
}

/*  */
.carousel {
    overflow: hidden;
    width: 100%;
}

  
.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-track.no-transition {
    transition: none;
}

.zoom{
    scale: 1.0;
    transition: scale 0.5s ease;
}
  
.zoom:hover{
    scale: 1.1;
}


  


