
<div class="row">
  <div class="col-md-12">
    <div class="col m-5 text-center" *ngIf="cart.length === 0">
      <p class="text-muted fs-5">Tu carrito está vacío.</p>
    </div>
    <div *ngIf="cart.length > 0">
      <div class="row">
        <div class="col-md-12" *ngFor="let item of cart; let i = index">
          <div class="d-flex mb-3">
            <div class="me-4">
              <img [src]="item.image" alt="{{ item.name }}" class="img-fluid rounded" style="max-width: 80px; max-height: 80px;">
            </div>
            <div class="row">
              <div class="col-md-10 col-sm-10">
                <h6>{{ item.name }}</h6>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="d-flex align-items-end justify-content-end">
                  <button class="btn btn-link text-secondary p-0" (click)="removeItem(item)"><i
                      class="bi bi-x-circle-fill"></i></button>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <button class="btn fs-6 border-0" type="button" (click)="decreaseQuantity(item)"><i
                    class="bi bi-dash"></i>
                  </button>
                  <input type="number" class="form-control" style="box-shadow: none;" readonly [ngModel]="item.quantity" min="1">
                  <button class="btn fs-6 border-0" type="button" (click)="increaseQuantity(item)"><i
                    class="bi bi-plus-lg"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-6 col-xs-12 col-sm-12 align-items-center text-center justify-content-center d-flex">
                <p class="text-muted fw-semibold mb-0 pe-3">Subtotal {{ '$ ' +  (item.price * item.quantity | number : '1.2-2' )}}</p>
              </div>
            </div>
          </div>
          <hr class="border border-secondary border-1 rounded-4 opacity-50">
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-6 align-self-start justify-content-start d-flex ps-5">
          <h4 class="text-muted fw-bold">Total</h4>
        </div>
        <div class="col-md-6 col-sm-6 align-items-end d-flex justify-content-end pe-5">
          <h4 class="fw-bold text-muted"> {{ '$ ' + (getTotal() | number : '1.2-2' )}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-12 text-center">
    <button *ngIf="cart.length > 0" type="button" class="btn btn-primary boton-comprar fs-4"
      [disabled]="cart.length === 0" (click)="goToCheckout()" data-bs-dismiss="offcanvas">Continuar compra
    </button>
    <button type="button" *ngIf="cart.length === 0" data-bs-dismiss="offcanvas"
      class="btn btn-primary boton-comprar fs-4" routerLink="/products">Agregá productos para comprar</button>
  </div>
</div>