<div class="container" style="font-family: 'Montserrat';">
  <div class="card mb-3 mt-5 border-0 rounded-5" style="background-color: #f8f6f5;">
    <div class="row g-1">
      <div class="col-md-4">
        <img src="assets\quienesSomos.jpeg" style="width: 100%; height: 100%;" class="img-fluid rounded-5">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="display-6 user-select-none" style="color: #86bb3c;">Quiénes somos</h5>
          <p class="fs-5 fw-normal text-muted user-select-none" style="text-align: justify;">Bienvenidos a Ciriú, somos Claudia y Marcel y nos dedicamos a la venta de una amplia gama de productos, como juguetería, marroquinería, bazar, estética y mucho más. Contamos con más de 30 años de experiencia, hemos sido un pilar en la comunidad de Hernando, ofreciendo productos de calidad y un servicio excepcional desde nuestro local en calle Italia 136.</p>
          <p class="fs-5 fw-normal text-muted user-select-none" style="text-align: justify;" >Nos enorgullece expandir nuestra presencia al mundo digital. Ahora, nuestros clientes pueden disfrutar de la misma experiencia de compra cómoda y confiable desde la comodidad de su hogar, con la seguridad de que están adquiriendo productos seleccionados con el mismo cuidado y dedicación que siempre nos ha caracterizado.</p>
          <p class="fs-5 fw-normal text-muted user-select-none" style="text-align: justify;">¡Bienvenidos a Ciriú, donde cada compra es una experiencia única y especial!</p> 
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center align-items-center mt-5 p-5 mb-5">
    <div class="col">
      <div class="card border-0 pintar">
        <div class="card-body text-center user-select-none pt-0">
          <i class="bi bi-truck fs-1" style="color: #86bb3c;"></i>
          <h6 class="fs-6 fw-semibold card-title" style="color: #86bb3c;">HACEMOS ENVÍOS A TODO EL PAÍS</h6>
          <p class="card-text" style="color: #86bb3c;">Por Correo Argentino, OCA o transporte de tu preferencia.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0 pintar">
        <div class="card-body text-center user-select-none pt-0">
          <i class="bi bi-credit-card fs-1" style="color: #86bb3c;"></i>
          <h6 class="card-title" style="color: #86bb3c;">ACEPTAMOS TODAS LAS TARJETAS</h6>
          <p class="card-text" style="color: #86bb3c;">Increíbles descuentos y cuotas sin interés.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0 pintar">
        <div class="card-body text-center user-select-none pt-0">
          <i class="bi bi-whatsapp fs-1" style="color: #86bb3c;"></i>
          <h6 class="card-title" style="color: #86bb3c;">CONTACTANOS POR WHATSAPP</h6>
          <p class="card-text" style="color: #86bb3c;">Comunicate con nosotros, haciendo click acá.</p>
        </div>
      </div>
    </div>
  </div>
</div>
