<div class="container-fluid bg-dark mt-5 pb-5 mb-0 pb-0" style="font-family: 'Montserrat';">
  <div class="row pt-5 pb-2 justify-content-center container-fluid">
    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 mb-5 text-center justify-content-center align-items-center">
      <div class="d-flex mb-3">
        <img src="../../../assets/logoCiriu2.png" class="img-fluid mb-2 me-3" alt="logo" width="70px" height="70px">
        <p class="text-start text-light fw-light small-text mt-3">COPYRIGHT CIRIÚ - 2024. <br> TODOS LOS DERECHOS RESERVADOS.</p>
      </div>
      <div class="d-flex">
        <a href="https://www.facebook.com/share/XagSXoh8iM4tTS5n/?mibextid=LQQJ4d" target="_blank" class="text-light social-icon">
          <img src="../../../assets/facebook.png" class="img-fluid" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/ciriuregalos?igsh=N2xuOHhsbXd0bHFh" target="_blank" class="text-light social-icon">
          <img src="../../../assets/instagram.png" class="img-fluid" alt="Instagram">
        </a>
        <a href="#" class="text-light social-icon">
          <img src="../../../assets/whatsapp.png" class="img-fluid" alt="Whatsapp">
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center justify-content-center">
      <h5 class="text-light fw-semibold mb-4 text-start">Soporte</h5>
      <p class="text-light text-start"><a routerLink="/faq" class="text-decoration-none texto">Preguntas frecuentes</a></p>
      <p class="text-light text-start"><a routerLink="/terms" class="text-decoration-none texto">Términos y Condiciones</a></p>
      <p class="text-light text-start mb-5"><a routerLink="/signup" class="text-decoration-none texto">Registrarse</a></p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
      <h5 class="text-light fw-semibold mb-4 text-start">Encontranos en</h5>
      <p class="text-start" style="color: rgb(215, 215, 215);"><i class="bi bi-geo-alt"></i> Italia 136, Hernando - Córdoba.</p>
      <p class="text-start" style="color: rgb(215, 215, 215);"><i class="bi bi-telephone"></i> 0353-4145001</p>
    </div>
  </div>
</div>
