<div class="container-fluid bg-dark mt-5" style="font-family: 'Montserrat';">
  <div class="row pt-4 pb-2">
    <div class="col-md-4 text-center">
      <h5 class="text-light mb-3">Ayuda</h5>
      <p class="text-light m-1"><a routerLink="/faq" class="text-decoration-none text-light">Preguntas frecuentes</a></p>
      <p class="text-light m-1"><a routerLink="/terms" class="text-decoration-none text-light">Términos y Condiciones</a></p>
      <p class="text-light m-1"><a routerLink="/signup" class="text-decoration-none text-light">Registrarse</a></p>
    </div>
    <div class="col-md-4 text-center">
      <h5 class="text-light mb-3">Encontranos en</h5>
      <p class="text-light m-1"><i class="bi bi-geo-alt"></i> Italia 136, Hernando - Córdoba.</p>
      <p class="text-light m-1"><i class="bi bi-telephone"></i> 0353-4145001</p>
    </div>
    <div class="col-md-4 text-center">
      <h5 class="text-light mb-3">Redes sociales</h5>
      <a href="https://www.facebook.com/share/XagSXoh8iM4tTS5n/?mibextid=LQQJ4d" target="_blank"><i class="bi bi-facebook text-light fs-4 pe-3"></i></a>
      <a href="https://www.instagram.com/ciriuregalos?igsh=N2xuOHhsbXd0bHFh" target="_blank"><i class="bi bi-instagram text-light fs-4 pe-3"></i></a>
      <a href=""><i class="bi bi-whatsapp text-light fs-4"></i></a>
    </div>
  </div>
  <hr class="text-light">
  <div class="row align-items-center">
    <div class="col-md-12 text-center d-flex justify-content-center">
      <p class="text-center text-light fw-light small-text">COPYRIGHT CIRIÚ - 2024. TODOS LOS DERECHOS RESERVADOS.</p>
    </div>
  </div>
</div>
