<div class="container-fluid bg-dark" style="font-family: 'Montserrat';">
  <div class="row pt-5 pb-2">
    <div class="col-md-4 text-center">
      <div class="align-items-center d-flex justify-content-center">
        <img src="http://localhost:4200/assets/logoCiriu2.png" alt="ciriu" class="logo" width="70" height="70">
        <p class="text-light ps-3 display-6 mt-3">Ciriú</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <h6 class="text-light mb-3">Encontranos en</h6>
      <p class="text-light m-1"><i class="bi bi-geo-alt"></i> Italia 136, Hernando - Córdoba.</p>
      <p class="text-light m-1"><i class="bi bi-telephone"></i> 0353-4145001</p>
    </div>
    <div class="col-md-4 text-center">
      <h6 class="text-light mb-3">Redes sociales</h6>
      <a href="https://www.facebook.com/share/XagSXoh8iM4tTS5n/?mibextid=LQQJ4d" target="_blank"><i class="bi bi-facebook text-light fs-4 pe-3"></i></a>
      <a href="https://www.instagram.com/ciriuregalos?igsh=N2xuOHhsbXd0bHFh" target="_blank"><i class="bi bi-instagram text-light fs-4 pe-3"></i></a>
      <a href=""><i class="bi bi-whatsapp text-light fs-4"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr class="border border-light border-2 rounded-5 opacity-50">
      <p class="text-center text-light">Copyright © 2024 | Ciriú</p>
    </div>
  </div>
</div>
