.small-text{
    font-size: 12px;
}
.social-icon {
    border-radius: 50%;
    background-color: #5f5f5f; /* Color de fondo del círculo */
    width: 40px;
    height: 40px;
    display: inline-flex;
    margin: 0 10px;
    text-decoration: none;
    align-items: center;
    padding: 0 8px;
    justify-content: center;
    transition: scale 0.3s ease-in-out;
}

.social-icon:hover {
    background-color: #a7c957;
    scale: 1.1;
}

.texto {
    color: rgb(215, 215, 215);
}
.texto:hover {
    color: white;
}
