<div class="container" style="font-family: 'Montserrat';">
  <div class="row mt-5 pb-5">
    <div class="col-md-12 mb-4">
      <p class="text-center display-6 fw-normal"><span class="text-black-50 display-5 border-bottom border-2">Preguntas Frecuentes</span></p>
    </div>
    <div class="col-md-12">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold" style="box-shadow: none; background-color: transparent;"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              ¿Cómo puedo registrarme en el sitio web?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="text-justify texto">Dirígete a el apartado inferior del sitio web, en la seccion de Soporte presione
                el
                enlace de "Registrarse", sino a continuación haga click <span><a routerLink="/signup"
                    class="text-decoration-none">aqui</a></span>.
                Completa el formulario de registro con tu información personal, incluyendo tu nombre, apellido, correo
                electrónico, y una contraseña segura.
                Revisa y acepta los términos y condiciones del sitio web.
                Por ultimo, haga clic en el botón "Crear cuenta" para completar el proceso, recibirás un correo
                electrónico de
                confirmación para validar tu cuenta.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold" style="box-shadow: none; background-color: transparent;"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
              aria-controls="collapseOne">
              ¿Cómo puedo iniciar sesion?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="text-justify texto">Para iniciar sesion, debe estar previamente registrado en el sitio web, sino esta
                registrado, por favor, primero registrese.
                En el caso que ya este registrado, complete el formulario de inicio de sesión con su correo electrónico
                y
                contrasena y presione el botón "Iniciar sesión".
                Sino encuentra el apartado haga click <span><a routerLink="/login"
                    class="text-decoration-none">aqui</a></span>
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold" style="box-shadow: none; background-color: transparent;"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true"
              aria-controls="collapseOne">
              ¿Cómo realizo una compra?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="text-start fs-6 text-justify texto">Para realizar una compra, primero debe estar registrado en el
                sitio web.
                Una vez registrado, inicie sesión en su cuenta. Navegue por nuestras categorías de productos o utilice
                la barra
                de búsqueda para
                encontrar los artículos que desea comprar. Cuando encuentre un producto de su interés, haga clic en él
                para ver
                más detalles o presione el botón "agregar" para agregarlo al carrito.
                Puede continuar comprando y agregando más productos a su carrito de compras.
                Una vez que haya terminado de seleccionar sus productos, haga clic en el ícono del carrito de compras en
                la
                esquina
                superior derecha de la página para revisar su pedido. Verifique que todos los productos y cantidades
                sean
                correctos.
                Luego, haga clic en "Continuar compra" y complete el formulario con la información personal. Revise
                todos los
                detalles de su pedido y haga clic en "Actualizar y continuar" para actualizar la informacion personal.
                A continuacion seleccione la forma de envío y la forma de pago de Mercado pago para proceder con la
                compra
                presionando "Realizar pago".
                Seleccione el metodo de pago de Mercado pago para realizar la compra y una vez finalizada la misma,
                recibira un
                correo de confirmación con los detalles de la compra.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold" style="box-shadow: none; background-color: transparent;"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true"
              aria-controls="collapseOne">
              ¿Que métodos de pago aceptan?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul class="text-start fs-6 text-justify texto">
                <li>Tarjetas de crédito: Visa, MasterCard, American Express, y otras tarjetas locales.</li>
                <li>Tarjetas de débito: Tarjetas de débito Visa y MasterCard emitidas por bancos locales.</li>
                <li>Saldo en cuenta de Mercado Pago: Si tienes saldo disponible en tu cuenta de Mercado Pago, puedes
                  usarlo para
                  realizar compras.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold" style="box-shadow: none; background-color: transparent;"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true"
              aria-controls="collapseOne">
              ¿Que hago si olvido mi contraseña?
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="text-justify texto">
                Si olvido su contraseña de inicio de sesión, puede restablecerla con el correo electrónico que uso para crear la cuenta. 
                En el apartado de "Iniciar sesión", en la parte de
                abajo aparecera "¿Olvidaste tu contraseña? Recuperar contraseña". haga click alli para seguir los pasos y restablecer la misma, o directamente haga click <span><a routerLink="/recoverPassword"
                  class="text-decoration-none">aqui</a></span> para restablecerla.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold" style="box-shadow: none; background-color: transparent;"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true"
              aria-controls="collapseOne">
              ¿Como puedo ver mis pedidos?
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="text-justify texto">
                Para poder ver los pedidos primero debe iniciar sesion con su cuenta. Luego en el apartado de "Mis pedidos" va a encontrar 
                todos sus pedidos con los productos que compro.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold" style="box-shadow: none; background-color: transparent;"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true"
              aria-controls="collapseOne">
              ¿Como agrego un mensaje de regalo a un pedido?
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="text-justify texto">
                Para agregar un mensaje de regalo a tu pedido luego de seleccionar los productos en el carrito y presionar el boton de "Continuar compra" 
                y completar la informacion obligatoria, debe presionar el boton "Agregar mensaje de regalo" y completar los campos con el mensaje de regalo 
                al pedido.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>