<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <p class="text-start fs-5">Preguntas Frecuentes</p>
    </div>
    <div class="col-md-12 mt-2">
      <p class="text-start fs-6 text-justify">
        En esta sección tratamos de responder las dudas más comunes. Si queres consultarnos algo por privado siempre
        podes escribirnos por WhatsApp al 353-4145001
      </p>
    </div>
    <div class="col-md-12">
      <p class="text-start fs-6 fw-semibold">1. ¿Cómo puedo registrarme en el sitio web?</p>
    </div>
    <div class="col-md-12">
      <p class="text-start fs-6 text-justify">Dirígete a el apartado inferior del sitio web, en la seccion de Ayuda y presione el
        enlace de "Registrarse", sino a continuación haga click <span><a routerLink="/signup" class="text-decoration-none">aqui</a></span>.
        Completa el formulario de registro con tu información personal, incluyendo tu nombre, apellido, correo
        electrónico, y una contraseña segura.
        Revisa y acepta los términos y condiciones del sitio web.
        Por ultimo, haga clic en el botón "Crear cuenta" para completar el proceso, recibirás un correo electrónico de
        confirmación, copie el código de verificación y haga click en el enlace del correo para verificar su cuenta.</p>
    </div>
    <div class="col-md-12">
      <p class="text-start fs-6 fw-semibold">2. ¿Cómo puedo iniciar sesion?</p>
    </div>
    <div class="col-md-12">
      <p class="text-start fs-6 text-justify">Para iniciar sesion, debe estar previamente registrado en el sitio web, sino esta
        registrado, por favor, revise el punto anterior.
        En el caso que ya este registrado, complete el formulario de inicio de sesión con su correo electrónico y
        contrasena y presione el botón "Iniciar sesión".
        Sino encuentra el apartado haga click <span><a routerLink="/login" class="text-decoration-none">aqui</a></span>
    </div>
    <div class="col-md-12">
      <p class="text-start fs-6 fw-semibold">3. ¿Cómo puedo realizar una compra?</p>
    </div>
    <div class="col-md-12">
      <p class="text-start fs-6 text-justify">Para realizar una compra, primero debe estar registrado en el sitio web.
        Una vez registrado, inicie sesión en su cuenta. Navegue por nuestras categorías de productos o utilice la barra
        de búsqueda para
        encontrar los artículos que desea comprar. Cuando encuentre un producto de su interés, haga clic en él para ver
        más detalles o presione el botón "agregar" para agregarlo al carrito.
        Puede continuar comprando y agregando más productos a su carrito de compras.
        Una vez que haya terminado de seleccionar sus productos, haga clic en el ícono del carrito de compras en la
        esquina
        superior derecha de la página para revisar su pedido. Verifique que todos los productos y cantidades sean
        correctos.
        Luego, haga clic en "Continuar compra" y complete el formulario con la información personal. Revise todos los
        detalles de su pedido y haga clic en "Actualizar y continuar" para actualizar la informacion personal.
        A continuacion seleccione la forma de envío y la forma de pago de Mercado pago para proceder con la compra
        presionando "Realizar pago".
        Seleccione el metodo de pago de Mercado pago para realizar la compra y una vez finalizada la misma, recibira un
        correo de confirmación con los detalles de la compra.</p>
    </div>
    <div class="col-md-12">
      <p class="text-start fs-6 fw-semibold">4. ¿ Que métodos de pago aceptan?</p>
    </div>
    <div class="col-md-12">
      <ul class="text-start fs-6 text-justify">
        <li>Tarjetas de crédito: Visa, MasterCard, American Express, y otras tarjetas locales.</li>
        <li>Tarjetas de débito: Tarjetas de débito Visa y MasterCard emitidas por bancos locales.</li>
        <li>Efectivo: Pago en efectivo en puntos de pago como Rapipago y Pagofacil.</li>
        <li>Saldo en cuenta de Mercado Pago: Si tienes saldo disponible en tu cuenta de Mercado Pago, puedes usarlo para
          realizar compras.</li>
      </ul>
    </div>
    <div class="col-md-12">
      <p class="text-start fs-6 fw-semibold">5. ¿ Cuanto tarda en llegar el pedido?</p>
    </div>
    <div class="col-md-12">
      <p class="text-start fs-6 text-justify">
      Si sos de la localidad de Hernando y el producto está en stock, el envío se realiza durante el día de la compra a tu domicilio. También podes retirarlo por nuestros locales en el horario de apertura de Lunes a Viernes de 08.00hs a 12.00hs por la mañana o de 16.00hs a 20.00hs por la tarde. 
      Si sos de otra localidad de Argentina, la demora es la indicada por Correo Argentino u OCA al momento de la compra. Por nuestra parte, el producto será despachado lo más rápido posible!
    </div>
    <div class="col-md-12">
      <p class="text-start fs-6 fw-semibold">¡ESPERAMOS TU COMPRA! </p>
    </div>
</div>