<div class="container" style="font-family: Montserrat;">
  <div class="card mx-auto shadow-lg border mt-5 mb-5 border-0 rounded-5 p-4">
    <div class="row">
      <div class="col-md-1 col-2 text-start d-block d-lg-none">
        <button class="btn btn-lg text-muted" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
          <i class="bi bi-list"></i>
        </button>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title display-6 text-body-tertiary" id="offcanvasWithBothOptionsLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" style="box-shadow: none;" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="d-grid gap-2">
              <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/orders"><i class="bi bi-file-earmark-text">
                  Pedidos</i></a>
              <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/products"><i class="bi bi-boxes"> Productos</i>
                </a>
              <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/stock"><i class="bi bi-box"> Stock</i></a>
              <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/report"><i class="bi bi-bar-chart-line">
                  Reportes</i></a>
              <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/support"><i class="bi bi-gear-wide-connected">
                    Soporte</i></a>
              <a class="btn btn-primary btn-lg boton p-3" (click)="logout()"><i class="bi bi-box-arrow-right"> Cerrar
                  sesion</i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-11 col-10 mt-1">
        <h4 class="display-6 text-muted">
          <span class="text-body-tertiary"><i class="bi bi-person"></i>Hola, </span> {{user.name.toLowerCase() | titlecase}}
        </h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="pt-4 col-lg-2 d-none d-lg-block">
        <div class="d-grid gap-2 mb-5">
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/orders"><i class="bi bi-file-earmark-text">
              Pedidos</i></a>
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/products"><i class="bi bi-boxes"> Productos</i>
            </a>
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/stock"><i class="bi bi-box"> Stock</i></a>
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/report"><i class="bi bi-bar-chart-line">
              Reportes</i></a>
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/support"><i class="bi bi-gear-wide-connected">
                Soporte</i></a>
          <a class="btn btn-primary btn-lg boton p-3" (click)="logout()"><i class="bi bi-box-arrow-right"> Cerrar
              sesion</i></a>
        </div>
      </div>

      <!--Mostrar pedidos-->
      <div class="col-12 col-lg-10 col-sm-12 col-xs-12">
        <div class="m-4">
          <div class="row pb-4">
            <div class="col-md-12 text-center">
              <h4 class="text-muted fw-bold text-body-tertiary fs-3">
                <span class="rounded-5"><i class="bi bi-file-earmark-text"></i>Pedidos</span>
              </h4>
            </div>
          </div>
          <div class="row align-items-center d-flex justify-content-center">
            <form action="#" class="col-md-12 row p-3 border-0 rounded-5 text-center" (ngSubmit)="getOrders()" [formGroup]="formOrders">
              <div class="col-md-3">
                <div class="form-floating mb-3">
                  <input type="datetime-local" class="form-control rounded-5" style="box-shadow: none;" id="floatingInput" formControlName="fromDate">
                  <label for="floatingInput">Fecha desde</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-floating mb-3">
                  <input type="datetime-local" class="form-control rounded-5" style="box-shadow: none;" id="floatingInput" formControlName="toDate">
                  <label for="floatingInput">Fecha hasta</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-floating mb-3">
                  <select name="estado" id="estado" style="box-shadow: none;" class="form-select rounded-5" formControlName="status">
                    <option value="0">Cualquiera</option>
                    <option value="1">Aprobado</option>
                    <option value="2">Pendiente</option>
                    <option value="4">En proceso</option>
                  </select>
                  <label for="validationCustom01" class="form-label"> Estado de pago</label>
                </div>
              </div>
              <div class="col-md-3 align-self-center">
                <button class="btn btn-outline-secondary border-1 p-2 ps-3 pe-3 rounded-5"><i
                    class="bi bi-search"></i> Buscar</button>
              </div>
            </form>
          </div>
          <hr class="border-3 border-top border-secondary rounded-5">
          <div class="row mb-3 align-items-center d-flex justify-content-center">
            <div class="col-md-4 text-center">
              <p class="text-muted fs-5">{{totalElements}} Resultados</p> 
            </div>
            <div class="col-md-4 mb-3 text-center align-self-center">
              <button class="btn btn-outline-success ms-3 border-1 p-2 ps-3 pe-3 rounded-5" (click)="exportToExcel()">
                <i class="bi bi-file-earmark-excel-fill"></i> Exportar a Excel
              </button>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-floating mb-3">
                <select class="form-select rounded-5" style="box-shadow: none;" (change)="orderBy($event)">
                  <option class="form-select text-muted" value="reciente">Mas recientes</option>
                  <option class="form-select text-muted" value="antiguo">Mas antiguos</option>
                </select>
                <label for="validationCustom01" class="form-label">Ordenar pedidos por</label> 
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <ng-container *ngIf="orders.length > 0; else noOrders">
                <div class="accordion-item bg-primary-subtle bg-opacity-50 rounded-5"
                  *ngFor="let order of orders; let i = index">
                  <h5 class="accordion-header">
                    <button class="accordion-button collapsed btn focus-ring focus-ring-light" type="button" data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapse-' + order.id" aria-expanded="false"
                      [attr.aria-controls]="'collapse-' + order.id" style="box-shadow: none; border: none;">
                      <div class="row mb-0">
                        <div class="col-md-4">
                          <p class="text-muted">Fecha</p>
                        </div>
                        <div class="col-md-4">
                          <p class="text-muted">Estado de pago</p>
                        </div>
                        <div class="col-md-4">
                          <p class="text-muted">Total</p>
                        </div>
                        <div class="col-md-4">
                          <i class="bi bi-calendar text-primary"></i> <span class="text-primary"> {{order.date}}</span>
                        </div>
                        <div class="col-md-4">
                          <div *ngIf="order.status === 'Aprobado'">
                            <p><i class="bi bi-check-circle-fill text-success"> Aprobado</i></p>
                          </div>
                          <div *ngIf="order.status === 'Pendiente'">
                            <p><i class="bi bi-exclamation-triangle-fill text-secondary"> Pendiente</i></p>
                          </div>
                          <div *ngIf="order.status === 'En proceso'">
                            <p><i class="bi bi-hourglass-split text-warning"> En proceso</i></p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <p><i class="bi bi-cash-coin"></i> {{'$ ' + (getTotal(i) | number:'1.2-2')}}</p>
                        </div>
                      </div>
                    </button>
                  </h5>
                  <div [id]="'collapse-' + order.id" class="accordion-collapse collapse"
                    [attr.data-bs-parent]="'#accordionFlushExample'">
                    <div class="accordion-body">
                      <div class="row">
                        <div class="col-md-3">
                          <p class="text-muted">ID de pago</p>
                          <p><i class="bi bi-hash"></i> {{order.id_payment}}</p>
                        </div>
                        <div class="col-md-3">
                          <p class="text-muted">Estado de entrega</p>
                          <div *ngIf="order.delivery_status === 'Entregado'">
                            <p><i class="bi bi-bag-check-fill text-success"> Entregado</i></p>
                          </div>
                          <div *ngIf="order.delivery_status === 'En camino'">
                            <p><i class="bi bi-truck text-primary"> En camino</i></p>
                          </div>
                          <div *ngIf="order.delivery_status === 'En preparación'">
                            <p><i class="bi bi-box2-fill text-secondary"> En preparación</i></p>
                          </div>
                          <div *ngIf="order.delivery_status === 'Cancelado'">
                            <p><i class="bi bi-x-circle-fill text-danger"> Cancelado</i></p>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <p class="text-muted">Forma de envío</p>
                          <p><i class="bi bi-truck text-secondary"></i> {{order.shipping}} </p>
                        </div>
                        <div class="col-md-3">
                          <p class="text-muted">Método de pago</p>
                          <p><i class="bi bi-wallet2 text-success"></i> {{order.format_payment | titlecase}} |  {{order.format_method | titlecase}} </p>
                        </div>
                      </div>
                      <div class="row p-1">
                        <hr>
                        <div class="col-md-12">
                          <h5>Cliente</h5>
                        </div>
                        <div class="col-md-4 text-start">
                          <p><i class="bi bi-person-fill"></i> {{order.user.name}}, {{order.user.lastname}}</p>
                        </div>
                        <div class="col-md-3 text-start">
                          <p><i class="bi bi-telephone-fill"></i> {{order.user.phone}}</p>
                        </div>
                        <div class="col-md-5 text-start">
                          <p><i class="bi bi-envelope-fill"></i> {{order.user.email}}</p>
                        </div>
                        <div class="col-md-4 text-start">
                          <p><i class="bi bi-geo-alt-fill"></i> {{getProvince(order.user.province)}} - {{order.user.city}}</p>
                        </div>
                        <div class="col-md-4 text-start">
                          <p><i class="bi bi-house-door-fill"></i> {{order.user.address}} &nbsp; Piso: {{order.user.floor}} Dep: {{order.user.departament}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <hr>
                        <div class="col-md-12 mb-3">
                          <h5>Detalles de los productos</h5>
                        </div>
                        <div class="col-md-12" *ngFor="let product of order.orderDetails">
                          <div class="row">
                            <div class="col-md-2">
                              <p class="text-muted opacity-50">{{product.product.code}}</p>
                            </div>
                            <div class="col-md-4">
                              <p>{{product.product.name | titlecase}} </p>
                            </div>
                            <div class="col-md-1">
                              <p>X {{product.quantity}}</p>
                            </div>
                            <div class="col-md-2">
                              <p>c/u {{'$ ' + (product.price | number:'1.2-2')}}</p>
                            </div>
                            <div class="col-md-3">
                              <p class="text-end fw-semibold">Subtotal: {{'$ ' + (product.price * product.quantity | number:'1.2-2')}}
                              </p>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="col-md-6 text-start">
                          <button class="btn btn-warning rounded-4" (click)="openModalOrder(order.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">
                            Actualizar pedido
                          </button>
                        </div>
                        <div class="col-md-6 text-end">
                          <p class="text-end fs-6 fw-bold">Total: {{'$ ' + (getTotal(i) | number:'1.2-2')}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #noOrders>
                <div class="text-end mt-5 fs-5">
                  <p class="text-center"><i class="bi bi-info-circle me-1"></i> No hay resultados que coincidan con su búsqueda.</p>
                </div>
              </ng-template>
            </div>
          </div>
          <!--Navegacion-->
          <div class="row mt-3">
            <div class="col-md-12">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item" [class.disabled]="currentPage === 0">
                    <a class="page-link border-0 text-dark" style="cursor: pointer;" (click)="prevPage()"><i class="bi bi-chevron-left"> </i></a>
                  </li>
                  <li class="page-item">
                    <select class="form-select border-0 ms-1 focus-ring focus-ring-light" [(ngModel)]="currentPage" (change)="onPageChange($event)">
                      <option *ngFor="let pageNumber of getPageNumbers()" [ngValue]="pageNumber">{{ pageNumber + 1 }}</option>
                    </select>
                  </li>
                  <li class="page-item">
                    <a class="page-link border-0 text-dark" style="cursor:pointer" (click)="nextPage()"><i class="bi bi-chevron-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para actualizar estados -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-5 border-0 p-2">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-5 text-muted" id="exampleModalLabel">Actualizar estados del pedido</h1>
        <button type="button" style="box-shadow: none;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formStatus">
          <div class="row">
            <div class="col-md-12">
              <p class="text-muted">Por favor, seleccione los estados que desea actualizar.</p>
            </div>
            <div class="col-md-12">
              <div class="form-floating mb-3">
                <select formControlName="status" style="box-shadow: none;" class="form-select" [ngClass]="{'is-invalid': formStatus.get('status')?.errors 
                && (formStatus.get('status')?.dirty || formStatus.get('status')?.touched) && 'is-invalid'}">
                  <option *ngFor="let s of status" value="{{s.id}}">{{s.status}}</option>
                </select>
                <label for="floatingInput">Estado de pago</label>
                <div
                *ngIf="formStatus.get('status')?.invalid && (formStatus.get('status')?.dirty || formStatus.get('status')?.touched)">
                <p class="text-danger"> El estado de pago es obligatorio</p>
              </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating mb-3">
                <select formControlName="delivery_status" style="box-shadow: none;" class="form-select" [ngClass]="{'is-invalid': formStatus.get('delivery_status')?.errors 
                && (formStatus.get('delivery_status')?.dirty || formStatus.get('delivery_status')?.touched) && 'is-invalid'}">
                  <option selected disabled value="">Seleccione un estado de entrega</option>
                  <option *ngFor="let d of deliveryStatus" value="{{d.id}}">{{d.delivery_status}}</option>
                </select>
                <label for="floatingInput">Estado de entrega</label>
                <div
                *ngIf="formStatus.get('delivery_status')?.invalid && (formStatus.get('delivery_status')?.dirty || formStatus.get('delivery_status')?.touched)">
                <p class="text-danger"> El estado de entrega es obligatorio</p>
              </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary rounded-4 shadow" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill text-white"></i> Cancelar</button>
        <button type="button" class="btn btn-info rounded-4 boton shadow text-light"(click)="updateOrder()"><i class="bi bi-floppy2-fill"></i> Guardar cambios</button>
      </div>
    </div>
  </div>
</div>