
  
.carousel {
    overflow: hidden;
    width: 100%;
}

  
.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-track.no-transition {
    transition: none;
}

.zoom{
    scale: 1.0;
    transition: scale 0.5s ease;
}
  
.zoom:hover{
    scale: 1.1;
}

.pintar {
    background-color: transparent;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.pintar:hover {
    background-color: #f8f6f5;
    border-radius: 30px;
}


.card {
    overflow: hidden;
  }
  
.img-container {
    height: 300px; /* Ajusta la altura según sea necesario */
    overflow: hidden;
    position: relative;
}
  
.card-img {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    object-fit: cover; /* Mantiene el aspecto de la imagen mientras se ajusta al contenedor */
    transition: transform 0.3s ease;
}
  
.card:hover .card-img {
    transform: scale(1.1);
    opacity: 0.5;
}
@keyframes colorChange {
    0% {
      color: #000000;
    }
    25% {
      color: #555;
    }
    50% {
      color: #777;
    }
    75% {
      color: #999;
    }
    100% {
      color: #53c936;
    }
}

.category-text {
    animation: colorChange 5s infinite;
}

  

