<div class="container" style="font-family: Montserrat;">
  <div class="card mx-auto shadow-lg border mt-5 mb-5 border-0 rounded-5 p-4">
    <div class="row">
      <div class="col-md-1 col-2 text-center d-block d-lg-none">
        <button class="btn btn-lg text-muted" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
          <i class="bi bi-list"></i>
        </button>
        <div class="offcanvas offcanvas-start border-0" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title display-6 text-body-tertiary" id="offcanvasWithBothOptionsLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" style="box-shadow: none;" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="d-grid gap-2">
              <a class="btn btn-primary btn-lg boton p-3" routerLink="/user/info"><i class="bi bi-info-circle">
                Información</i></a>
             <a class="btn btn-primary btn-lg boton p-3" routerLink="/user/orders"><i class="bi bi-file-text"> Mis
                 pedidos</i></a>
             <a class="btn btn-primary btn-lg boton p-3" (click)="logout()"><i class="bi bi-box-arrow-right"> Cerrar
                 sesion</i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-11 col-10 mt-1">
        <h4 class="display-6 text-muted">
          <span class="text-body-tertiary"><i class="bi bi-person"></i> Hola, </span>
          {{user.name.toLowerCase() | titlecase}}
        </h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="pt-4 col-lg-2 d-none d-lg-block">
        <div class="d-grid gap-2 mb-5">
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/user/info"><i class="bi bi-info-circle">
             Información</i></a>
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/user/orders"><i class="bi bi-file-text"> Mis
              pedidos</i></a>
          <a class="btn btn-primary btn-lg boton p-3" (click)="logout()"><i class="bi bi-box-arrow-right"> Cerrar
              sesion</i></a>
        </div>
      </div>
      <!--Mostrar informacion-->
      <div class="col-12 col-lg-10 col-sm-12 col-xs-12">
        <div class="m-4">
          <div class="row pb-3">
            <div class="col-md-12 text-center">
              <h4 class="text-muted fw-bold text-body-tertiary fs-3">
                <span class="rounded-5"><i class="bi bi-info-circle"></i> Información personal</span>
              </h4>
            </div>
            <div class="col-md-12 align-items-end d-flex justify-content-end mt-2">
              <button class="btn btn-outline-warning fs-6 rounded-5" (click)="edit()"><i class="bi bi-pencil-square">
                  Editar</i></button>
            </div>
          </div>
          <form class="row g-3 needs-validation" [formGroup]="userForm" (ngSubmit)="updateInfo()">
            <div class="col-md-6">
              <label for="validationCustom01" class="form-label">Nombre</label>
              <input type="text" formControlName="name" class="form-control" [value]="user.name" [ngClass]="{'is-invalid': userForm.get('name')?.errors 
                && (userForm.get('name')?.dirty || userForm.get('name')?.touched) && 'is-invalid'}">
              <div
                *ngIf="userForm.get('name')?.invalid && (userForm.get('name')?.dirty || userForm.get('name')?.touched)">
                <p class="text-danger"> El nombre es obligatorio</p>
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom02" class="form-label">Apellido</label>
              <input type="text" formControlName="lastname" class="form-control" [value]="user.lastname" [ngClass]="{'is-invalid': userForm.get('lastname')?.errors 
                && (userForm.get('lastname')?.dirty || userForm.get('lastname')?.touched) && 'is-invalid'}">
              <div
                *ngIf="userForm.get('lastname')?.invalid && (userForm.get('lastname')?.dirty || userForm.get('lastname')?.touched)">
                <p class="text-danger"> El apellido es obligatorio</p>
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom02" class="form-label">Telefono</label>
              <input type="number" formControlName="phone" class="form-control" [value]="user.phone" [ngClass]="{'is-invalid': userForm.get('phone')?.errors 
                && (userForm.get('phone')?.dirty || userForm.get('phone')?.touched) && 'is-invalid'}">
              <div
                *ngIf="userForm.get('phone')?.invalid && (userForm.get('phone')?.dirty || userForm.get('phone')?.touched)">
                <p class="text-danger"> El telefono es obligatorio o no es correcto</p>
              </div>
            </div>
            <!--Pais-->
            <div class="col-md-6">
              <label for="validationCustom03" class="form-label">Pais</label>
              <select class="form-select" formControlName="country" [ngClass]="{'is-invalid': userForm.get('country')?.errors 
                && (userForm.get('country')?.dirty || userForm.get('country')?.touched) && 'is-invalid'}">
                <option selected disabled>Seleccione un pais</option>
                <option *ngFor="let country of countries" value="{{country.id}}">{{country.country}}</option>
              </select>
              <div
                *ngIf="userForm.get('country')?.invalid && (userForm.get('country')?.dirty || userForm.get('country')?.touched)">
                <p class="text-danger"> El pais es obligatorio</p>
              </div>
            </div>
            <!--Provincia-->
            <div class="col-md-6">
              <label for="validationCustom04" class="form-label">Provincia</label>
              <select class="form-select" formControlName="province" [ngClass]="{'is-invalid': userForm.get('province')?.errors 
                && (userForm.get('province')?.dirty || userForm.get('province')?.touched) && 'is-invalid'}">
                <option selected disabled value="">Seleccione una provincia</option>
                <option *ngFor="let province of provinces" value="{{province.id}}">{{province.province}}</option>
              </select>
              <div
                *ngIf="userForm.get('province')?.invalid && (userForm.get('province')?.dirty || userForm.get('province')?.touched)">
                <p class="text-danger"> La provincia es obligatoria</p>
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom05" class="form-label">Ciudad</label>
              <input type="text" formControlName="city" class="form-control" [value]="user.city" [ngClass]="{'is-invalid': userForm.get('city')?.errors 
                && (userForm.get('city')?.dirty || userForm.get('city')?.touched) && 'is-invalid'}">
              <div
                *ngIf="userForm.get('city')?.invalid && (userForm.get('city')?.dirty || userForm.get('city')?.touched)">
                <p class="text-danger"> La ciudad es obligatoria</p>
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom05" class="form-label">Direccion</label>
              <input type="text" formControlName="address" class="form-control" [value]="user.address" [ngClass]="{'is-invalid': userForm.get('address')?.errors 
                && (userForm.get('address')?.dirty || userForm.get('address')?.touched) && 'is-invalid'}">
              <div
                *ngIf="userForm.get('address')?.invalid && (userForm.get('address')?.dirty || userForm.get('address')?.touched)">
                <p class="text-danger"> La direccion es obligatoria</p>
              </div>
            </div>
            <div class="col-md-3">
              <label for="validationCustom05" class="form-label">Piso</label>
              <input type="text" formControlName="floor" class="form-control" [value]="user.floor">
            </div>
            <div class="col-md-3">
              <label for="validationCustom05" class="form-label">Departamento</label>
              <input type="text" formControlName="departament" class="form-control" [value]="user.departament">
            </div>
            <div class="col-12 text-center pt-3">
              <button *ngIf="mostrarBoton" class="btn btn-primary border-0 p-2 rounded-4 me-4"
                style="background-color: #86BB3C; opacity: 0.9;" type="submit" [disabled]="userForm.invalid">
                Actualizar
              </button>
              <button *ngIf="mostrarBoton" class="btn btn-secondary border-0 p-2 rounded-4" (click)="cancel()"
                type="button">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>