<div class="container pb-5 pt-5 fade-in" style="font-family: Montserrat;">
  <div class="row justify-content-md-center mt-5 mb-5 align-items-center">
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-6">
          <div class="card mx-auto shadow-lg mt-5 mb-5 border-0 rounded-5 p-3">
              <h5 class="text-muted text-center mt-2 fw-light fs-3">
                <i class="bi bi-key-fill text-muted"></i> Recuperar contraseña
              </h5>
              <div class="card-body">
                  <form class="px-4 py-3 needs-validation" [formGroup]="passwordRecover" (ngSubmit)="recoverPassword()">
                    <div class="mb-4">
                      <p class="text-muted">Ingresa el email con el cual te registraste a la plataforma, 
                        recibiras un enlace en tu correo para restablecer tu contraseña.</p>
                    </div>
                      <div class="mb-4">
                          <div class="form-floating">
                              <input type="email" class="form-control text-muted rounded-5" name="email" id="email" required
                                  placeholder="Email" maxlength="50" formControlName="email" style="box-shadow: none;">
                              <label for="floatingInput" class="text-muted">Email</label>
                              <div
                                  *ngIf="passwordRecover.get('email')?.invalid && (passwordRecover.get('email')?.dirty || passwordRecover.get('email')?.touched)">
                                  <p class="text-danger"> Por favor, ingresa un email valido</p>
                              </div>
                          </div>
                      </div>
                      
                      <div class="mb-4">
                          <p class="text-danger" *ngIf="message"><i class="bi bi-exclamation-circle"></i> {{message}}
                          </p>
                      </div>
                      <div class="text-center d-grid gap-2 col-6 mx-auto">
                          <div class="loader" [ngClass]="{'show': loading}"></div>
                          <button type="submit" [disabled]="passwordRecover.invalid" class="btn btn-outline-info btn-lg boton">Recuperar contraseña</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>