<div class="container" style="font-family: Montserrat;">
  <div class="card mx-auto shadow-lg border mt-5 mb-5 border-0 rounded-5 p-4">
    <div class="row">
      <div class="col-md-1 col-2 text-center d-block d-lg-none">
        <button class="btn btn-lg text-muted" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
          <i class="bi bi-list"></i>
        </button>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title display-6 text-body-tertiary" id="offcanvasWithBothOptionsLabel">Menu</h5>
            <button type="button" class="btn-close" style="box-shadow: none;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="d-grid gap-2">
              <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/orders"><i class="bi bi-file-earmark-text">
                  Pedidos</i></a>
              <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/products"><i class="bi bi-boxes"> Productos</i>
                </a>
              <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/stock"><i class="bi bi-box"> Stock</i></a>
              <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/report"><i class="bi bi-bar-chart-line">
                  Reportes</i></a>
              <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/support"><i class="bi bi-gear-wide-connected">
                    Soporte</i></a>
              <a class="btn btn-primary btn-lg boton p-3" (click)="logout()"><i class="bi bi-box-arrow-right"> Cerrar
                  sesion</i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-11 col-10 mt-1">
        <h4 class="display-6 text-muted">
          <span class="text-body-tertiary"><i class="bi bi-person"></i>Hola, </span> {{user.name.toLowerCase() | titlecase}}
        </h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="pt-4 col-lg-2 d-none d-lg-block">
        <div class="d-grid gap-2 mb-5">
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/orders"><i class="bi bi-file-earmark-text">
              Pedidos</i></a>
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/products"><i class="bi bi-boxes"> Productos</i>
            </a>
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/stock"><i class="bi bi-box"> Stock</i></a>
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/report"><i class="bi bi-bar-chart-line">
              Reportes</i></a>
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/support"><i class="bi bi-gear-wide-connected">
                Soporte</i></a>
          <a class="btn btn-primary btn-lg boton p-3" (click)="logout()"><i class="bi bi-box-arrow-right"> Cerrar
              sesion</i></a>
        </div>
      </div>
      <div class="col-12 col-lg-10 col-sm-12 col-xs-12">
        <div class="m-4">
          <div class="row pb-3">
            <div class="col-md-12 text-center">
              <h4 class="text-muted fw-bold text-body-tertiary fs-3">
                <span class="rounded-5"><i class="bi bi-gear-wide-connected"></i> Soporte</span>
              </h4>
            </div>
          </div>
          <div class="row pb-3 mt-4 text-center border rounded-5">
            <div class="col-md-7 mt-4">
              <p class="d-inline-flex gap-1">
                <button class="btn btn-primary btn-lg border-0 p-2 ps-5 pe-5 rounded-4" style="background-color: #86BB3C; opacity: 0.9;" type="button" data-bs-toggle="collapse" data-bs-target="#categoria" aria-expanded="false" aria-controls="collapseExample">
                  <i class="bi bi-filter-left"> Categorías</i>
                </button>
              </p>
              <div class="collapse" id="categoria">
                <div class="card card-body border-0">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 class="text-muted fw-bold text-body-tertiary">
                        <span class="rounded-5"> Categorias</span>
                      </h4>
                    </div>
                    <div class="col-md-12 mt-3 mb-3">
                      <app-newCategory></app-newCategory>
                    </div>
                    <!--Tabla de Categorias-->
                    <div class="table-responsive overflow-auto" style="max-height: 500px;">
                      <table class="table table-borderless">
                        <thead class="table-dark opacity-50">
                          <tr>
                            <th scope="col">Categoria</th>
                            <th scope="col">Editar</th>
                            <th>Sub categoria</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let category of categories; let i = index">
                            <td><input type="text" class="form-control text-center" [readOnly]="!category.editable" [(ngModel)]="category.category"></td>
                            <td><button type="button" class="btn border-0 p-2 rounded-3 me-2" (click)="editCategory(category)"><i class="bi bi-pencil-fill"></i></button>
                              <button *ngIf="category.editable" type="button" class="btn btn-success border-0 p-2 rounded-3 me-2" (click)="updateCategory(category)">
                                <i class="bi bi-check-circle"></i>
                              </button>
                              <button *ngIf="category.editable" class="btn btn-danger border-0 p-2 rounded-3 me-2" (click)="cancelCategory(category)"><i class="bi bi-x-circle"></i></button>
                            </td>
                            <td>
                              <button type="button" class="btn border-0 p-2 rounded-3 me-2" (click)="loadModal(category.category)"><i class="bi bi-eye" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 mt-4">
              <p class="d-grip gap-2">
                <button class="btn btn-primary btn-lg border-0 p-2 ps-5 pe-5 rounded-4" type="button" style="background-color: #86BB3C; opacity: 0.9;" data-bs-toggle="collapse" data-bs-target="#marcas" aria-expanded="false" aria-controls="collapseExample">
                  <i class="bi bi-funnel"> Marcas</i>
                </button>
              </p>
              <div class="collapse" id="marcas">
                <div class="card card-body border-0">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 class="text-muted fw-bold text-body-tertiary">
                        <span class="rounded-5"> Marcas</span>
                      </h4>
                    </div>
                    <div class="col-md-12 mb-3 mt-3">
                      <app-newBrand></app-newBrand>
                    </div>
                    <div class="col-md-12">
                      <!-- Tabla de marcas -->
                       <div class="table-responsive overflow-auto" style="max-height: 500px;">
                        <table class="table table-borderless">
                          <thead class="table-dark opacity-50">
                            <tr>
                              <th scope="col">Marca</th>
                              <th scope="col">Editar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let brand of brands; let i = index">
                            <td> <input type="text" class="form-control text-center" [readOnly]="!brand.editable" [(ngModel)]="brand.brand"></td>
                            <td><button type="button" class="btn border-0 p-2 rounded-3 me-2" (click)="editBrand(brand)">
                              <i class="bi bi-pencil-fill"></i>
                              </button>
                              <button *ngIf="brand.editable" type="button" class="btn btn-success border-0 p-2 rounded-3 me-2" (click)="updateBrand(brand)">
                                <i class="bi bi-check-circle"></i>
                              </button>
                              <button *ngIf="brand.editable" class="btn btn-danger border-0 p-2 rounded-3 me-2" (click)="cancelBrand(brand)"><i class="bi bi-x-circle"></i></button>
                            </td>
                            </tr>
                          </tbody>
                        </table>
                       </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal de Sub categorias -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-5 border-0 p-2">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-5 text-muted" id="exampleModalLabel">Sub categorias</h1>
        <button type="button" class="btn-close focus-ring focus-ring-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <app-newSubcategory></app-newSubcategory>
      <div class="modal-body">
        <table class="table text-center table-borderless">
          <thead class="table-dark opacity-50">
            <tr>
              <th scope="col">Categoria</th>
              <th scope="col">Sub categorias</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sub of subCategoriesByCategory">
              <td>{{sub.category}}</td>
              <td><input type="text" class="form-control text-center" [readOnly]="!sub.editable" [(ngModel)]="sub.subcategory"></td>
              <td><button type="button" class="btn border-0 p-2 rounded-3 me-2" (click)="editSubCategory(sub)"><i class="bi bi-pencil-fill"></i></button>
                <button *ngIf="sub.editable" type="button" class="btn btn-success border-0 p-2 rounded-3 me-2" (click)="updateSubCategory(sub)">
                  <i class="bi bi-check-circle"></i>
                </button>
                <button *ngIf="sub.editable" class="btn btn-danger border-0 p-2 rounded-3 me-2" (click)="cancelSubCategory(sub)"><i class="bi bi-x-circle"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>