<div class="container" style="font-family: Montserrat;">
  <div class="card mt-5 rounded-5 shadow border-0">
    <div class="row m-0 mt-3 mb-4">
      <div class="col-md-4">
        <a class="btn btn-link text-decoration-none text-muted ps-4" routerLink="/products"><i class="bi bi-arrow-left"></i> Inicio</a>
      </div>
      <div class="col-md-4 text-center">
        <h4 class="fs-3 text-muted fw-light">Confirmación de la compra</h4>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row align-items-center mb-5 mt-3">
      <div class="col-md-12 text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqGTRhJPBjnpan7gLQCL-VpUJK1jbVoV68aQ&s" class="img-fluid text-center align-items-center justify-content-center mb-3" width="100px" height="100px">
        <h3 class="fw-semibold text-success">Tu pago ha sido procesado con éxito</h3>
        <p class="text-muted p-3 ps-5 pe-5">Podes ver el estado de tus pedidos ingresando a tu perfil en "Mis pedidos" o haciendo click, <span><a href="http://localhost:4200/user/orders" class="text-muted text-decoration-none">aquí.</a></span>
          A continuacion te enviamos un correo electrónico con los detalles de la compra, revisa tu bandeja de entrada o en tu correo no deseado.
        </p>
      </div>
    </div>
  </div>
</div>