<div class="container" style="font-family: Montserrat;">
  <div class="card mx-auto shadow-lg border mt-5 mb-5 border-0 rounded-5 p-3">
    <div class="row">
      <div class="col-md-12 ps-5 pt-3">
        <h4 class="display-6 text-muted">
          <span class="text-body-tertiary"><i class="bi bi-person"></i> Bienvenido, </span>
          {{user.name.toLowerCase() | titlecase}}
        </h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3 ps-5 pe-4 pt-4">
        <div class="d-grid gap-2 mb-5">
          <button class="btn btn-primary btn-lg boton p-3" routerLink="/admin/orders"><i
              class="bi bi-file-earmark-text"> Pedidos</i></button>
          <button class="btn btn-primary btn-lg boton p-3" routerLink="/admin/products"><i class="bi bi-boxes"> Productos</i>
            </button>
          <button class="btn btn-primary btn-lg boton p-3" routerLink="/admin/stock"><i class="bi bi-box">
              Stock</i></button>
          <button class="btn btn-primary btn-lg boton p-3" routerLink="/admin/report"><i class="bi bi-bar-chart-line">
              Reportes</i></button>
          <a class="btn btn-primary btn-lg boton p-3" routerLink="/admin/support"><i class="bi bi-gear-wide-connected">
                Soporte</i></a>
          <button class="btn btn-primary btn-lg boton p-3" (click)="logout()"><i class="bi bi-box-arrow-right"> Cerrar
              sesion</i></button>
        </div>
      </div>
      <div class="col-md-9">
        <div class="m-3 p-3">
          <div class="row pb-3">
            <div class="col-md-12 text-center">
              <h4 class="text-muted fw-bold text-body-tertiary fs-3">
                <span class="rounded-5"><i class="bi bi-bar-chart-line"></i> Reportes</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
