<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Complete el campo para agregar una nueva categoria</p>
    </div>
    <div class="col-md-12">
      <form action="" [formGroup]="formNewCategory" (ngSubmit)="createCategory()">
        <div class="input-group">
          <label class="input-group-text" for="inputGroupSelect01"><i class="bi bi-tag-fill"></i></label>
          <input type="text" class="form-control rounded-end-5" style="box-shadow: none;" placeholder="Nueva categoria" formControlName="category">
          <button class="btn btn-success boton rounded-5 ms-1" type="submit"><i class="bi bi-plus-circle"> </i></button>
        </div>
        <div class="text-start" *ngIf="formNewCategory.get('category')?.invalid && (formNewCategory.get('category')?.dirty || formNewCategory.get('category')?.touched)">
          <p class="text-danger"> Debe ingresar una categoria</p>
        </div>
      </form>
    </div>
  </div>
</div>