.boton {
    background-color:  #a7c957;
    opacity: 0.9;
    color: white;
    border: 25px;
    border-radius: 20px;
}

.boton:hover {
    background-color: #a7c957;
    opacity: 1;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.zoom-effect {
    overflow: hidden;
}
  
.zoom-effect img {
    transition: transform 0.3s ease;
}
  
.zoom-effect:hover img {
    transform: scale(1.1);
}
