<div class="container" style="font-family: Montserrat;">
  <div class="row mb-5">
    <div class="col-md-12 align-self-start mt-5 ms-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="display-6 text-decoration-none fs-5 text-muted" routerLink="/products">Ver todos</a></li>
          <li class="breadcrumb-item"><a class="display-6 text-decoration-none fs-5 text-muted" [routerLink]="['/products']"
            [queryParams]="{ category: toy.category }">{{toy.category | titlecase}}</a></li>
            <li class="breadcrumb-item"><a class="display-6 text-decoration-none fs-5 text-muted" [routerLink]="['/products']"
              [queryParams]="{ category: toy.subcategory }">{{toy.subcategory | titlecase}}</a></li>
        </ol>
      </nav>
    </div>
    <div class="col-md-12">
      <div class="card mt-2 m-2 rounded-5 shadow border-0">
        <div class="row">

          <div class="col-md-1 ps-4 pt-4">
            <!-- Imagenes secundarias -->
            <div class="m-1" *ngFor="let image of toy.image">
                <img src={{image}} class="img-fluid img-thumbnail" style="cursor: pointer; width: 100%;"
                (click)="changeImage(image)">
            </div>
          </div>

          <div class="col-md-5 col-sm-4 mt-3 me-0" id="zoomContainer">
              <!-- Imagen principal -->
              <img src={{toy.image[0]}} class="card-img" style="width: 100%; height: 100%;" id="imageHome">
          </div>

          <div class="col-md-6 col-sm-8 m-0 mt-2">
            <div class="card-body">
              <h5 class="card-title display-6">{{toy.name.toUpperCase()}}</h5>
              <p class="text-muted opacity-50">{{code}}</p>
              <p class="card-text text-muted fs-5"><i class="bi bi-tags"> Marca: </i> {{toy.brand | titlecase}}</p>
              <p class="text-muted fs-5"><i class="bi bi-box-seam"> Stock:</i> {{toy.stock}}</p>
              <p class="card-text text-muted fw-bold fs-3 text-center">{{toy.price | currency}} <span
                  class="fw-light">c/u</span></p>
            </div>
            <div class="card-footer mt-2 border-0 bg-transparent mb-3">
              <ng-container *ngIf="toy.stock > 0; else noStockButton">
                <button href="#" class="btn btn-primary boton border-0 p-2 rounded-3 w-100 fw-semibold"
                  (click)="addToCart(toy)"><i class="bi bi-bag"></i> Agregar</button>
              </ng-container>
              <ng-template #noStockButton>
                <button class="btn btn-warning rounded-4 border-0 p-2 rounded-3 w-100 fw-semibold" disabled><i
                    class="bi bi-bag-x"></i> Sin Stock</button>
              </ng-template>
            </div>
          </div>
        
          <div class="col-md-12 mt-5">
            <h5 class="card-title fs-3 fw-light text-center mb-3"><i class="bi bi-chat-right-text"></i> Descripción</h5>
            <pre class="card-text text-muted fs-5 ps-5 pe-5 pb-5 pre-container" style="font-family: Montserrat;"> {{toy.description}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>