.boton {
    background-color:  #a7c957;
    opacity: 0.9;
    color: white;
    border: 25px;
    border-radius: 20px;
}

.boton:hover {
    background-color: #a7c957;
    opacity: 1;
}
.boton:active {
    transform: scale(0.96);
}

body{
    font-family: 'Montserrat', sans-serif;
}


.pre-container {
    overflow: hidden;
    white-space: pre-wrap;
    text-align: justify;
    text-indent: -5px;
}


.boton-inferior {
    background: rgb(73, 73, 73);
    border: none;
    border-radius: 50%; 
    padding: 0; 
    width: 15px; 
    height: 15px;
}
.custom-carousel-icon {
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(50%);
}

.color-close {
    filter: brightness(0) invert(1) contrast(10000%) saturate(10000%);
}

@media (max-width: 576px) {
    .carousel-inner {
      max-width: 100%;
      overflow: hidden;
    }
    .carousel-inner img {
      max-width: 100%;
      height: auto;
    }
}

  



  
