.boton {
    background-color:  #a7c957;
    opacity: 0.9;
    color: white;
    border: 25px;
    border-radius: 20px;
}

.boton:hover {
    background-color: #a7c957;
    opacity: 1;
}

body{
    font-family: 'Montserrat', sans-serif;
}


.pre-container {
    overflow: hidden;
    white-space: pre-wrap;
    text-align: justify;
    text-indent: -5px;
}


  
