<div class="container" style="font-family: Montserrat;">
  <div class="row">
    <div class="col-md-12 align-self-start mt-5 ms-5">
      <a class="display-6 text-decoration-none fs-5" routerLink="/products">Ver todos </a>
      <a class="display-6 text-decoration-none fs-5 text-muted">/ {{toy.category}} / {{toy.sub_category}} </a>
    </div>
    <div class="col-md-12">
      <div class="card mt-3 m-2 rounded-5 shadow border-0">
        <div class="row">
          <div class="col-md-6 col-sm-4 align-items-center justify-content-center d-flex zoom-effect">
            <img src={{toy.image[0]}} class="p-2" style="width: 400px; height: 400px;" id="imageHome">
          </div>
          <!-- Imágenes secundarias -->
          <div class="col-md-6 col-sm-8">
            <div class="card-body">
              <h5 class="card-title display-6">{{toy.name.toUpperCase()}}</h5>
              <p class="text-muted opacity-50">{{code}}</p>
              <hr>
              <p class="card-text text-muted fs-5"><i class="bi bi-tags"> Marca: </i> {{toy.brand}}</p>
              <p class="text-muted fs-5"><i class="bi bi-box-seam"> Stock:</i> {{toy.stock}}</p>
              <p class="card-text text-muted fw-bold fs-3 text-center">{{toy.price | currency}} <span class="fw-light">c/u</span></p>
            </div>
            <div class="card-footer border-0 bg-transparent mb-3">
              <ng-container *ngIf="toy.stock > 0; else noStockButton">
                <button href="#" class="btn btn-primary boton border-0 p-2 rounded-3 w-100 fw-semibold" (click)="addToCart(toy)"><i class="bi bi-bag"></i> Agregar</button>
              </ng-container>
              <ng-template #noStockButton>
                <button class="btn btn-warning rounded-4 border-0 p-2 rounded-3 w-100 fw-semibold" disabled><i class="bi bi-bag-x"></i> Sin Stock</button>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-2 mb-3" *ngFor="let image of toy.image">
                      <img src={{image}} class="img-fluid img-thumbnail" style="cursor: pointer; width: 100%;" (click)="changeImage(image)">
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card mt-3 m-5 rounded-5 border-0">
        <div class="row">
          <div class="col-md-12">
            <h5 class="card-title display-6">Caracteristicas</h5>
            <hr>
          </div>
          <div class="col-md-12">
            <p class="card-text text-muted fs-5"><i class="bi bi-chat-right-text"> Descripcion:</i> {{toy.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
